@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --background-button: #2da44e;
    --background-button-hover: #259444;
    --background-dados: #f6f8fa;
    --background: #FFFFFF;
    --color-links: #3191e5;
    --border-inputs: rgb(208, 215, 222);
    --border-inputs-normal: #3f3f3f;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: 12px;
}

#principal {
    background-color: var(--background);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 600px;
    width: 380px;
    /* border: 1px solid red; */
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-panel img {
    width: 48px;
}

.login-panel h1 {
    font-size: 24px;
    padding-top: 20px;
    font-weight: 300;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-dados);
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--border-inputs);
    margin-top: 20px;
    width: 320px;
}

.dados {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dados input {
    line-height: 30px;
    width: 290px;
    border: 1px solid var(--border-inputs);
    border-radius: 6px;
    margin-top: 10px;
}

.dados input[type="text"]:focus, input[type="password"]:focus {
    outline: 2px solid var(--color-links); /*Quando selecionado o input, troca a cor da borda*/
}


.dados label {
    font-size: 13px;
}

.label-username {
    width: 290px;
}

.login button {
    width: 290px;
    height: 33px;
    border-radius: 6px;
    background-color: var(--background-button);
    border: 0;
    color: var(--background);
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

.login button:hover {
    background-color: var(--background-button-hover);
}

.text-password {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-top: 14px;
}

.create-acc {
    display: flex;
    justify-content: center;
    padding: 18px 0;
    width: 320px;
    border: 1px solid var(--border-inputs);
    border-radius: 6px;
    margin-top: 18px;
}

.text-acc p {
    font-size: 13px;
}

.text-acc a {
    font-size: 13px;
    font-weight: 400;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    width: 320px;
}

.text-links a{
    text-align: center;
    font-size: 12px;
    padding-right: 10px;
}

.link-rodape-gray {
    color: gray;
}